<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="ItemCntrl as itemCntrl">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Item Name:</span>
        <input type="text" ng-model="itemCntrl.item">
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="itemCntrl.add()">Add</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
