<ion-view  ng-controller="LoginCntrl as loginCntrl">
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item">
        <button class="button button-block button-positive" ng-click="loginCntrl.login()">Login with Google</button>
      </label>
    </div>
  </ion-content>
</ion-view>
