<ion-modal-view>
  <ion-header-bar class="bar-assertive">
    <h1 class="title">Share</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeShare()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="ItemCntrl as itemCntrl">
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Peer Email Id:</span>
        <input type="text" ng-model="itemCntrl.emailId">
      </label>
      <label class="item">
        <button class="button button-block button-positive" ng-click="itemCntrl.share()">Add</button>
      </label>
    </div>
  </ion-content>
</ion-modal-view>
